html {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #260119;
  background-image: url("lizzo.png");
  background-position: left;
  background-repeat: repeat-x;


  color:#D514D9;
  font-family: verdana;
  margin: 0px
  padding: 0px
}


.subContainer1{
  padding: 0px 180px;
  font-size: 40px;
}

.specialParagraphs {
  padding: 0px 250px;
  color: #D514D9;
  border: 4px solid #F2DE77;

  font-size: 20px;
}

.VID2{
  padding: 30px 290px;
}

.box{
  padding: 0px 500px;
  color: #D514D9;
  border: 4px solid #F2DE77;
  font-size: 20px;
}
